!!!
%html
  = render 'layouts/head'
  %body.css-transition-preload{ class: body_controller_action_class_name, data: { current_datetime: Time.zone.now } }
    = render 'layouts/nav'
    .body-wrapper
      = render 'layouts/header'
      = render 'layouts/secondary_header'
      = render 'components/flash_wrapper'
      .hide-for-large
        = render 'layouts/breadcrumbs'
      #content.relative.grid-container
        = yield
        -# = render 'components/debugger'
      = render 'layouts/footer'
